* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #141414;
    font-family: 'Glory', sans-serif;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #fdff7e;
    color: #141414;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: 512px;
}

.instructions {
    color: #fff;
    margin: 2rem 0;
}

.instructions-title {
    font-size: 1.2rem;
    margin-bottom: .85rem;
}

.instructions-list li {
    color: #474747;
    list-style: decimal;
    text-align: start;
}

.instructions-list li:first-child {
    margin-bottom: .5rem;
}

.contact {
    margin-top: 1.35rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.contact-link {
    color: inherit;
}

.contact-link:hover {
    color: #fdff7e;
}

.fab,.fas {
    font-size: 1.6rem;
}

.footer {
    background-color: #000;
    box-sizing: border-box;
    color: #474747;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    width: 100%;
}


/* responsive */

@media screen and (max-width: 511px) {
    .canvas {
        width: 100vw;
    }

    .title {
        width: 100vw;
    }

    .instructions {
        margin: 0 auto;
        width: 75vw;
    }

    .instructions-list {
        font-size: .85rem;
    }
}